<nav class="navbar navbar-inverse" role="navigation">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/"><span class="glyphicon glyphicon-file"> Blog</span></a></li>
                <li><a href="http://github.com/adsgray"><span class="glyphicon glyphicon-cog"> Code</span></a></li>
                <li><a href="http://twitter.com/uhAndrew"><span class="glyphicon glyphicon-user"> Twitter</span></a></li>
            </ul>
    </div>
</nav>
