---
layout: default
---
<div class="page-header">
    <h1 class="text-right">{{ page.title }}{% if page.subtitle %} <span class="glyphicon glyphicon-flash"></span> <small>{{ page.subtitle }}</small>{% endif %}</h1>
    <p class="text-right"><small>{{ page.date | date: "%Y-%m-%d" }}</small></p>
</div>

{{ content }}

{% if page.githubrepo %}
<div class="panel panel-default">
      <div class="panel-body">
        <ul>
        {% for repo in page.githubrepo %}
        <li style="list-style-type:none">
        <span class="glyphicon glyphicon-book"></span> 
        <!-- 
        <span class="label label-default">code</span> 
        -->
        <a href="https://github.com/adsgray/{{ repo }}">{{ repo }}</a></li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endif %}
